<div class="container">
  <app-spinner></app-spinner>
  <mat-card *ngFor="let promotion of promotions">
      <mat-card-header>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of promotion.tags">
            <a href="https://www.facebook.com/search/top/?q=%23{{tag.name}}" target="_blank">
              #{{ tag.name }}
            </a>
          </mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <div class="media ar-1x1">
        <img src="{{promotion.images[0].url}}" alt="mountain">
      </div>
      <mat-card-content>
        <p>{{ promotion.description | slice:0:50 }}...</p>
        <p>
          <a [routerLink]="['/promotions', promotion.id]">read more >></a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
</div>