.home-container {
    font-family: HKGrotesk;
    color: #6B7D41;
}

.title {
    text-align: center;
    margin: 5em 1em 3em 1em;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    max-width: 75em;
    margin: 1em 0 1em auto;
    overflow: hidden;
}

.welcome-container section.title {
    width: 100%;
    height: auto;
    text-align: left;
    margin-left: 1em;
}

.welcome-container section.title button.map {
    margin-top: 2em;
    background: #AEC543;
    color: #fff;
}

.welcome-container section.image {
    width: 100%;
    height: auto;
    padding-left: 10em;
}

.welcome-container section.image img {
    max-width: 100%;
    display: block;
    left: 1em;
    position: relative;
    bottom: 5em;
}

.about-container {
    display: flex;
    margin-bottom: 20em;
}

.about-container section.bottle {
    max-width: 20em;
    position: relative;
    width: 20%;
    background-color: #EFF0E8;
    margin: 2em 0 2em 0;
}

.about-container section.bottle img {
    width: 70%;
    position: absolute;
    bottom: 2em;
}

.about-container section.front {
    max-width: 50%;
}

.about-container section.front img {
    width: 100%;
    display: block;
}

.about-container section.about-text {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EFF0E8;
    padding: 1em 3em 0 1em;
    margin: 2em 0 2em 0;
}

.about-container section.about-text img {
    width: 100%;
}

section.brands {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 10% 20em 10%;
}

section.brands img {
    margin: 1em 0 1em 0;
}

section.promotions {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 10em;
}

section.promotions div.promotions-item {
    width: 30em;
    height: 20em;
    background-repeat: no-repeat;
    padding-bottom: 10em;
}

section.promotions div.promotions-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.flower {
    width: 100%;
    height: auto;
    margin-bottom: 20em;
}

div.flower img {
    width: 75%;
}

.about-text.blog {
    margin: 0 1em 0 1em;
    padding-left: 1em;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20em;
}

.blog section.image {
    width: 50%;
    height: auto;
}

.blog section.image img {
    max-width: 100%;
}

.blog section.description {
    width: 25%;
    height: auto;
    margin: 3em 0 3.5em -3em;
    padding: 2em 1em 2em 4em;
    flex-grow: 1;
    background: #fff;
    opacity: 0.8;
}

.blog section.description p {
    max-width: 100%;
}

.blog section.olive {
    background: #fff;
    width: 25%;
    height: auto;
    margin: -4.5em 0 3.5em 0;
}

.blog section.olive img {
    max-width: 100%;
}