<!-- <section>
    <div class="container"> -->
<!-- <mat-carousel
        timings="250ms ease-in"
        [autoplay]="true"
        interval="5000"
        color="primary"
        maxWidth="auto"
        proportion="25"
        slides="3"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="false"
        [useMouseWheel]="false"
        orientation="ltr"
      >
        <mat-carousel-slide
          #matCarouselSlide
          *ngFor="let slide of slides$ | async; let i = index"
          image="assets/{{slide}}.jpg"
          overlayColor="#00000040"
          [hideOverlay]="false"
        ></mat-carousel-slide>
      </mat-carousel> -->
<!-- </section> -->

<div class="home-container">
  <div class="welcome-container">
    <section class="title">
      <div [innerHTML]="'navigation.home_title' | translate"></div>
      <button mat-raised-button class="map" color="primary" routerLink="/about"
        (click)="navigate(1)">{{ 'navigation.check_on_map' | translate }}</button>
    </section>
    <section class="image">
      <img src="../../../assets/home/big leaf.png" alt="">
    </section>
  </div>
  <div class="title">
    <h3>{{ 'navigation.home_about' | translate }}</h3>
  </div>
  <div class="about-container">
    <section class="about">
      <section class="bottle">
        <img src="../../../assets/home/dispenser bottle.png" alt="">
      </section>
      <section class="about-text">
        <p>{{ 'navigation.about_text' | translate }}</p>
        <p><i>{{ 'navigation.read_more' | translate }}</i></p>
      </section>
    </section>
    <section class="image">
      <img src="../../../assets/home/Image-Makasa.png" alt="">
    </section>
  </div>
  <div class="title">
    <h3>{{ 'navigation.brands' | translate }}</h3>
  </div>
  <section class="brands">
    <img src="../../../assets/home/ZOYA.png" alt="">
    <img src="../../../assets/home/Alteya-Organics-bio-magazin.png" alt="">
    <img src="../../../assets/home/BENECOS.png" alt="">
    <img src="../../../assets/home/ORGANIC.png" alt="">
  </section>
  <div class="title">
    <h3>{{ 'navigation.home_promotions' | translate }}</h3>
  </div>
  <section class="promotions">
    <div class="promotions-item">
      <img src="../../../assets/home/IMG_20190531_095022.jpg" alt="">
      <div class="promotion-title" [innerHTML]="'navigation.promotion_one' | translate">
      </div>
    </div>
    <div class="promotions-item">
      <img src="../../../assets/home/60311901_817884938575212_7793732906127458304_o.jpg" alt="">
      <div class="promotion-title" [innerHTML]="'navigation.promotion_two' | translate">
      </div>
    </div>
  </section>
  <div class="flower">
    <img src="../../../assets/home/succulent.png" alt="">
  </div>
  <div class="title">
    <h3>{{ 'navigation.home_blog' | translate }}</h3>
  </div>
  <div class="blog">
    <section class="image">
      <img src="../../../assets/home/background-beverage-break-958165.jpg" alt="">
    </section>
    <section class="description">
      <div [innerHTML]="'navigation.home_description' | translate"></div>
      <p><i>{{ 'navigation.read_more' | translate }}</i></p>
    </section>
    <section class="olive">
      <img src="../../../assets/home/Depositphotos_168110230_xl-2015.jpg" alt="">
    </section>
  </div>
</div>