@media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 2em;
    }
    
    ::ng-deep mat-card {
        width: 300px;
    }
}