<div style="height: 100vh;">
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
          <mat-nav-list class="fill-top">
            <app-menu (sidenavClose)="sidenav.close()"></app-menu>
          </mat-nav-list>
        </mat-sidenav>
    
        <mat-sidenav-content fxFlexFill>
            <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>

            <main>
              <router-outlet></router-outlet>
            </main>
            
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>    
</div>


