<div class="container">
  <div class="row">
    <app-chips-input (tagsEmitter)="getTags($event)"></app-chips-input>
  </div>
  <div class="row">
    <form [formGroup]="form" (submit)="createPromotion()">
      <div class="form-group">
         <label for="description">Description</label>
         <textarea class="form-control" type="text" id="description" formControlName="description"></textarea>
      </div>
      <button class="btn btn-primary btn-block" [disabled]="!form.valid">Create</button>
    </form>
  </div>
</div>