<div fxLayout="row" fxLayoutAlign="center center" fxFlex.gt-sm="100%">
  <ngx-auth-firebaseui
    [signInTabText]="'Вход'"
    [signInCardTitleText]="'Вход'"
    [loginButtonText]="'Вход'"
    [forgotPasswordButtonText]="'Забравена парола ?'"
    [emailText]="'И-мейл'"
    [emailErrorRequiredText]="'И-мейлът е задължителен'"
    [passwordText]="'Парола'"
    [passwordErrorRequiredText]="'Паролата е задължителна'"
    [registerTabText]="'Регистрация'"
    [registerCardTitleText]="'Регистрация'"
    [registerButtonText]="'Регистрация'"
  ></ngx-auth-firebaseui>
</div>