<div class="container">
  <div class="logo">
    <a routerLink="/home">
      <img src="../../../../assets/home/logo.png" alt="MaKaSa-Logo">
    </a>
  </div>
  <div class="titles container">
      <div class="item">
        <a mat-button routerLink="/home" color="primary">
          {{ 'navigation.home' | translate }}
      </a>
    </div>
    <div class="item">
      <a mat-button routerLink="/about" color="primary">
        {{ 'navigation.about' | translate }}
      </a>
    </div>
    <div class="item">
      <a mat-button routerLink="/about" color="primary">
        {{ 'navigation.promotions' | translate }}
      </a>
    </div>
    <div class="item">
      <a mat-button routerLink="/about" color="primary">
        {{ 'navigation.gallery' | translate }}
      </a>
    </div>
    <div class="item">
      <a mat-button routerLink="/about" color="primary">
        {{ 'navigation.blog' | translate }}
      </a>
    </div>
    <div class="item">
      <a mat-button routerLink="/about" color="primary">
        {{ 'navigation.contacts' | translate }}
      </a>
    </div>
    <div class="item">
        <a mat-button routerLink="/home" color="primary">
          <img class="social" src="../../../../assets/home/Social.png" alt="Facebook Account">
        </a>
      </div>
  </div>
</div>