.container {
    display: flex;
    align-items: flex-end;
}

.logo {
    flex: 3;
}

.titles {
    flex: 3;
}

.logo > a > img {
    width: 10em;
    height: auto;
    margin-left: 6em;
}

.item {
    display: flex;
    flex: 1;
}

.item > a {
    width: 100%;
    height: auto;
    color: #544C4A;
}

h5 {
    font-family: 'HKGrotesk';
}