.container {
    display: flex;
    align-items: flex-end;
}

.logo {
    flex: 3;
}

.titles {
    flex: 3;
}

.logo > a > img {
    height: auto;
    width: 150px;
    margin-left: 8em;
}

.item {
    display: flex;
    flex: 1;
}

.item > a {
    width: 100%;
    height: auto;
}

.social {
    width: 30%;
    height: auto;
}