<div class="close-button">
  <a (click)="closeNavbar()">
    <i class="material-icons">close</i>
  </a>
</div>
<a mat-list-item routerLink="/home">
  <i class="material-icons">home</i>
  {{ 'navigation.home' | translate }}
</a>
<a mat-list-item routerLink="/about">
  <i class="material-icons">store</i>
  {{ 'navigation.about' | translate }}
</a>          
<div *ngIf="authService.user | async; else login">
  <a mat-list-item routerLink="/account/profile">
    <i class="material-icons">person_pin</i>
    {{ 'navigation.profile' | translate }}
  </a>
  <a mat-list-item (click)="logout()">
    <i class="material-icons">exit_to_app</i>
    {{ 'navigation.logout' | translate }}
  </a>
</div>

<ng-template #login>
    <a mat-list-item routerLink="/account">
      <i class="material-icons">person_pin</i>
      {{ 'navigation.login_registration' | translate }}
    </a>
</ng-template>