<div class="close-button">
  <a (click)="closeNavbar()">
    <i class="material-icons">close</i>
  </a>  
</div>
<a mat-list-item routerLink="/home">
  <div class="wrapper">
    <i class="material-icons">home</i>
    <span>
      {{ 'navigation.home' | translate }}
    </span>
  </div>
</a>
<a mat-list-item routerLink="/about" (click)="navigate(0)">
  <div class="wrapper">
    <i class="material-icons">store</i>
    <span>
      {{ 'navigation.about' | translate }}
    </span>
  </div>
</a>
<a mat-list-item routerLink="/about" (click)="navigate(1)">
  <div class="wrapper">
    <i class="material-icons">contacts</i>
    <span>
      {{ 'navigation.contacts' | translate }}
    </span>
  </div>
</a>
<a mat-list-item routerLink="/about" (click)="navigate(2)">
  <div class="wrapper">
    <i class="material-icons">collections</i>
    <span>
      {{ 'navigation.gallery' | translate }}
    </span>
  </div>
</a>
<a mat-list-item routerLink="/promotions">
  <div class="wrapper">
    <i class="material-icons">photo</i>
    <span>
      {{ 'navigation.promotions' | translate }}
    </span>
  </div>
</a>
<a mat-list-item routerLink="/blog">
  <div class="wrapper">
    <i class="material-icons">view_list</i>
    <span>
      {{ 'navigation.blog' | translate }}
    </span>
  </div>
</a>
<div *ngIf="authService.user$ | async; else login">
  <a mat-list-item routerLink="/account/profile">
    <div class="wrapper">
      <i class="material-icons">person_pin</i>
      <span>
        {{ 'navigation.profile' | translate }}
      </span>
    </div>
  </a>
  <a mat-list-item (click)="logout()">
    <div class="wrapper">
      <i class="material-icons">exit_to_app</i>
      <span>
        {{ 'navigation.logout' | translate }}
      </span>
    </div>
  </a>
</div>
<div class="language">
    <app-language></app-language>
</div>  

<ng-template #login>
    <a mat-list-item routerLink="/account">
      <div class="wrapper">
        <i class="material-icons">person_pin</i>
        <span>
          {{ 'navigation.login_registration' | translate }}
        </span>
      </div>
    </a>
</ng-template>