<a mat-list-item routerLink="/home">
  <i class="material-icons">home</i>
  НАЧАЛО
</a>
<a mat-list-item routerLink="/about">
  <i class="material-icons">store</i>
  ЗА НАС
</a>          
<div *ngIf="authService.user | async; else login">
  <a mat-list-item routerLink="/account/profile">
    <i class="material-icons">person_pin</i>
    ПРОФИЛ
  </a>
  <a mat-list-item (click)="logout()">
    <i class="material-icons">exit_to_app</i>
    ИЗХОД
  </a>
</div>

<ng-template #login>
    <a mat-list-item routerLink="/account">
      <i class="material-icons">person_pin</i>
      ВХОД / РЕГИСТРАЦИЯ
    </a>
</ng-template>