.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7em auto;
}

.blog section.image {
    width: 50%;
    height: auto;
}

.blog section.image img {
    max-width: 100%;
}

.blog section.description {
    width: 25%;
    height: auto;
    margin: 3em 0 3.5em -3em;
    padding: 2em 1em 2em 4em;
    flex-grow: 1;
    background: linear-gradient(to right, #fff, transparent);
    opacity: 0.8;
}

.blog section.description p:nth-child(2) {
    max-width: 100%;
    line-height: 1.5em;
    color: #151515;
}

.blog section.olive {
    background: linear-gradient(to right, transparent, #fff);
    width: 25%;
    height: auto;
    margin: -4.5em 0 3.5em 0;
}

.blog section.olive img {
    max-width: 100%;
}