<div class="blog">
  <section class="image">
    <img src="../../../assets/home/background-beverage-break-958165.jpg" alt="">
  </section>
  <section class="description">
    <p><b>{{ 'navigation.home_description_title' | translate }}</b></p>
    <p [innerHTML]="'navigation.home_description' | translate"></p>
    <p><i>{{ 'navigation.read_more' | translate }}</i></p>
  </section>
  <section class="olive">
    <img src="../../../assets/home/Depositphotos_168110230_xl-2015.png" alt="">
  </section>
</div>